@import "tailwindcss";


.bg-img {
    background-image: url("../img/banner/banner-mobile.png");
  }
  
  @media (min-width: 768px) { /* Tela >= 768px */
    .bg-img {
      background-image: url("../img/banner/banner-pc.png");
    }
  }


  html {
    scroll-behavior: smooth;
  }
  
